body {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-style: italic;
    background-color: #313131;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    height: 100vh;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-txt {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.text {
    font-size: 1em;
    color: #fefefe;
    font-style: normal;
}