@font-face {
    font-family: 'LINESeedSansTH';
    src: url('./fonts/LINESeedSansTH_W_Rg.woff2') format('woff2'),
         url('./fonts/LINESeedSansTH_W_Rg.woff') format('woff'),
         url('./fonts/LINESeedSansTH_W_Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* You can add additional @font-face declarations for different weights */
@font-face {
    font-family: 'LINESeedSansTH';
    src: url('./fonts/LINESeedSansTH_W_Bd.woff2') format('woff2'),
         url('./fonts/LINESeedSansTH_W_Bd.woff') format('woff'),
         url('./fonts/LINESeedSansTH_W_Bd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    transition: background-color 0.3s ease, color 0.01s ease, border-color 0.15s ease, fill 0.15s ease;
    font-family: 'LINESeedSansTH';
}
